<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://code.alibabatech.com/schema/dubbo
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="zhoubl-pay-base-web" />
    
    <dubbo:protocol>
    	<dubbo:parameter key="shutdown.timeout" value="${dubbo.shutdown.timeout}" />
    </dubbo:protocol>
    
    <dubbo:consumer check="false">
    	<dubbo:parameter key="shutdown.timeout" value="${dubbo.shutdown.timeout}" />
    </dubbo:consumer>

    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" />

    <dubbo:monitor protocol="registry"/>

    <dubbo:reference interface="me.zhoubl.pay.sysmanage.service.api.SysAccountService" id="sysAccountService"/>

</beans>